---
layout: page
title: 'Semantics'
---
<h1>Semantics</h1>
<p>These are the semantics that I am tracking on as part of my research, and can be used as part of the API life cycle.</p>
<table width="100%" border="0">
  {% for tool in site.data.tools %}
    {% if tool.tags contains 'Semantics' %}
    <tr>
      <td align="center" valign="middle" width="160">
        <a href="{{ tool.url }}"><img src="{{ tool.logo }}" width="150" align="left" style="padding: 15px;" /></a>
      </td>
      <td align="left" width="75%">
        <a href="{{ tool.url }}" style="color: #000;">
          <strong>{{ tool.name }}</strong>
        </a>
        <p>{{ tool.details }}</p>
      </td>
      <td width="75" align="center" valign="middle">
          <a href="{{ tool.url }}" target="_blank" title="Website">
            <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-home-icon.jpeg" width="50" />
          </a>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <hr>
      </td>
    </tr>
    {% endif %}
  {% endfor %}
</table>
<p>If there is an open source tool that should be listed here, <a href="https://github.com/api-evangelist/design/issues">submit as a Github Issue, and I will consider adding</a>.</p>
